*{ 
    margin: 0;
    padding: 0;   
}

.container{
    text-align: center;
    padding: 20px;
    font-size: large;
}

h1{
    margin-bottom: 25px;
}

#input{
    width: 200px;
    height: 25px;
}

li {
    list-style: none;
    margin-top: 10px;
}

#inputText{
    width: 200px;
    height: 25 px;
}

#addButton{
    cursor: pointer;
    height: 28px;
}

#checkbox{
    cursor: pointer;
    width: 20px;
    height: 20px; 
    margin-right: 10px;
}

#deleteButton{
    order: 3;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
